<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ROOTDispatcher</servlet-name>
        <servlet-class>claypool.server.Servlet</servlet-class>    
        <init-param>
          <param-name>applicationContainer</param-name>
          <param-value>/WEB-INF/lib/env.rhino.js</param-value>
        </init-param>   
        <init-param>
          <param-name>applicationLocation</param-name>
          <param-value>index.html</param-value>
        </init-param> 
    </servlet>  
    <servlet-mapping>
        <servlet-name>ROOTDispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ROOTDispatcher</servlet-name>
        <url-pattern>*.atom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ROOTDispatcher</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>log4j-init</servlet-name>
        <servlet-class>claypool.server.Log4jInit</servlet-class>
        <init-param>
          <param-name>log4j-init-file</param-name>
          <param-value>WEB-INF/classes/claypool.server.lcf</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
      </servlet>
    <session-config>
        <session-timeout>
            30 
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>application.html</welcome-file>
    </welcome-file-list>
</web-app>
